<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeCloneProject</title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/popper.js/dist/popper.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="module" src="../src/script2.js"></script>

</head>
<body>
<input type="file" id="fileInput" multiple>
<div></div>
<!--<label for="res">here you will see your xml</label>-->
<!--<div></div>-->
<!-- <textarea name="res" id="res" cols="200" rows="100"></textarea>-->

<div id="resultCont" class="container">
    <h3 id="littleSuccessMsg"></h3>
    <div class="mt-4"></div>

</div>

</body>
</html>
